.nav {
  ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: .2em;
    justify-content: space-evenly;

    li:hover {
      background-color: yellow;
    }
  }
}